.app {
  display: grid;
  grid-template-rows: 56px 54px 1fr 52px;
  height: 100vh;
  overflow: hidden;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  overflow: hidden;
  border-top: 1px solid var(--border);
}
